// color
.golden {
  color: $ey-yellow !important;
}
.black {
  color: $black !important;
}
.white {
  color: $white !important;
}

// font-family
.bold {
  font-family: "EYfont-Bold", "EYfont", "Noto Sans", Arial, sans-serif;
}