.approvers-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #f0f0f0;
  font-size: 4vh;
  & > ul {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    max-width: 50vw;
    padding: 8vh 0;
    list-style-type: none;
    & > li {
      text-align: center;
      span {
        display: block;
        margin: 2vh 0;
      }
    }
  }
}

@media only screen and (max-width: 1680px) {
  .approvers-container {
    & > ul {
      max-width: 80vw;
    }
  }
}