.logo-container {
  color: #fff;
  font-size: 22vh;
  font-weight: 700;
  text-align: center;
  span {
    &.gold {
      color: #ffd500;
    }
  }
  &.small {
    padding: 4vh 0;
    font-size: 6rem;
  }
}